html,
body {
  background: #ecf0f3;
}

.Aligner {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Aligner-item {
  display: flex;
  width: 800px;
  height: 600px;
  flex-direction: column;
}

.Aligner-item > div {
  text-align: center;
}

.dtr-options-container {
  padding: 0.5rem;
  flex: 1;
  text-align: center;
}

.dtr-options-container .control {
  text-align: center;
}

.dtr-options-container label {
  padding: 20px;
}

.dtr-options-container label input {
  margin-right: 6px;
}

.date-container {
  flex: 1;
  font-size: 2rem;
}

.time-container {
  font-size: 6rem;
  font-weight: bold;
  flex: 2;
}

.id-number-container {
  flex: 1;
  text-align: center;
}
.id-number-container input {
  height: 100%;
  width: 300px;
  font-size: 20px;
  text-align: right;
}
.id-number-container input {
  padding: 0.5rem;
}

.table-container {
  flex: 4;
  padding-top: 1rem;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

form {
  height: 100%;
}

.container-is-fullheight,
.is-full-height {
  height: 100%;
}

.is-full-height-vh {
  height: 100vh;
}

.full-width {
  width: 100%;
}

.full-bordered {
  border: 1px solid #000;
}
.outline-full-bordered {
  outline: 1px solid #000;
}

.OrderForm--category-container {
  font-size: 11px;
  text-align: center;
  outline: 1px solid #fff;
  font-weight: bold;
  height: 50px;
}

.OrderForm--product-container {
  font-size: 9px;
  text-align: center;
  outline: 1px solid #fff;
  font-weight: bold;
  height: 70px;
}

.OrderForm--orders-table tbody td {
  font-size: 14px;
  line-height: 14px;
  padding: 4px;
}
.OrderForm--orders-table tbody td div.is-small {
  padding-left: 6px;
  font-size: 10px;
}
.OrderForm--amount-container {
  font-size: 2.5rem;
  font-weight: bold;
  border-top: 1px solid #000;
}

.flex-1 {
  flex: 1;
}
.flex-10 {
  flex: 10;
}
.flex-2 {
  flex: 2;
}

.flex-column {
  flex-direction: column;
}

div.react-date-picker__button__input {
  padding: 0.5rem;
}

div.react-date-picker__button {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.AmortizationTable,
.LoanLedger,
.min-table {
  font-size: 0.75rem;
}

table.report-table {
  font-size: 0.75rem;
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.is-current a,
.is-current a:hover {
  background-color: hsl(217, 71%, 53%);
  color: #fff;
}

li.disabled {
  background-color: #dbdbdb;
}

li.disabled a {
  cursor: none;
  border-color: #dbdbdb;
  box-shadow: none;
  color: #7a7a7a;
  opacity: 0.5;
}

nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}

nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}
.navbar-item.brand-text {
  font-weight: 300;
}
.navbar-item,
.navbar-link {
  font-size: 14px;
  font-weight: 700;
}

aside {
  height: 100%;
  margin-top: 0.75rem;
  font-size: 14px !important;
  font-weight: bold;
  padding-left: 1rem;
}
aside.menu {
  background: #ecf0f3;
}

div.flex-end-container {
  display: flex !important ;
  align-items: flex-end !important;
}

.display-none {
  display: none !important;
}

.b-t-2 th {
  border-top: 2px solid #000 !important;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.h-circle {
  background-color: #f00;
}

.is_selected {
  fill: pink;
  stroke: red;
  stroke-width: 2;
  fill-opacity: 0.8;
}

input[type="checkbox"] {
  margin-right: 8px !important;
}

.m-t-1 {
  margin-top: 8px !important;
}

.m-l-1 {
  margin-left: 8px !important;
}
.m-b-1 {
  margin-bottom: 8px !important;
}

.print {
  background-color: #fff !important;
}

.print button {
  display: none;
}

.button {
  padding: 0px 15px;
  font-size: 0.9rem !important;
}

.pointer:hover {
  cursor: pointer !important;
}
.logo {
  text-align: center;
  color: #fff;
  padding: 24px;
  font-size: 18px;
}

.cls-1 {
  opacity: 0.25;
}

.st1,
.cls-3 {
  fill: #000;
  fill-opacity: 0.1 !important;
  stroke: #000;
}

.is-occupied {
  fill: #f00 !important;
  fill-opacity: 0.5 !important;
  stroke: #f00;
}

.is-vacant {
  fill: #0f0 !important;
  fill-opacity: 0.5 !important;
  stroke: #0f0;
}

.content {
  padding: 0px 50px;
  overflow: auto;
  height: 100%;
}

.tab-content {
  padding: 0px 36px;
}

.ant-table-body,
.ant-table-fixed {
  font-size: 11px !important;
}

.is-flex {
  display: flex;
}

.is-flex-center {
  justify-content: center;
  align-items: center;
}

.is-flex-1 {
  flex: 1;
}
.is-flex-2 {
  flex: 2;
}

.is-flex-column {
  flex-flow: column;
}

.or-display {
  color: #fff;
}

.display-wrapper {
  flex: 1;
  margin: 2px;
  padding: 8px;
  background-color: #121212;
  border-radius: 4px;
  font-size: 0.5vw;
  overflow: none;
}
.display-wrapper-accent {
  flex: 1;
  margin: 2px;
  padding: 8px;
  background-color: #bb86fc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 0.8vw;
}
.display-wrapper-secondary {
  background-color: #3700b3;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  font-size: 0.8vw;
}
.time-wrapper {
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 8px;
  background-color: #121212;
  margin-bottom: 4px;
  font-size: 1vw;
  background-color: #3700b3;
}

.display-footer-developer {
  text-align: center;
  font-size: 0.4vw;
  padding: 0.4rem;
  color: rgba(255, 255, 255, 0.6);
}

.display-footer-label {
  text-align: right;
  font-size: 0.7vw;
}

.display-footer-accent {
  font-weight: bold;
  color: #00dac5;
  padding-left: 1rem;
  font-size: 0.7vw;
}

.or-room-number-display {
  padding: 0vw 0.35vw;
  font-weight: bold;
  color: #fff;
  font-size: 1.75vw;
  color: #00dac5;
}

.is-emergency {
  color: #f00;
}

.is-scrollable .ant-table td {
  white-space: nowrap;
}

.MuiInputBase-input.MuiInput-input {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.MuiFormControl-root.MuiTextField-root {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  padding: 0px 11px;
}

.ant-select.ant-select-auto-complete ul {
  list-style: none !important;
  margin: 0px !important;
}
