html,
body {
  background: #ecf0f3;
}

.Aligner {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Aligner-item {
  display: flex;
  width: 800px;
  height: 600px;
  flex-direction: column;
}

.Aligner-item > div {
  text-align: center;
}

.dtr-options-container {
  padding: 0.5rem;
  flex: 1;
  text-align: center;
}

.dtr-options-container .control {
  text-align: center;
}

.dtr-options-container label {
  padding: 20px;
}

.dtr-options-container label input {
  margin-right: 6px;
}

.date-container {
  flex: 1;
  font-size: 2rem;
}

.time-container {
  font-size: 6rem;
  font-weight: bold;
  flex: 2;
}

.id-number-container {
  flex: 1;
  text-align: center;
}
.id-number-container input {
  height: 100%;
  width: 300px;
  font-size: 20px;
  text-align: right;
}
.id-number-container input {
  padding: 0.5rem;
}

.table-container {
  flex: 4;
  padding-top: 1rem;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

form {
  height: 100%;
}

.container-is-fullheight,
.is-full-height {
  height: 100%;
}

.is-full-height-vh {
  height: 100vh;
}

.full-width {
  width: 100%;
}

.full-bordered {
  border: 1px solid #000;
}
.outline-full-bordered {
  outline: 1px solid #000;
}

.OrderForm--category-container {
  font-size: 11px;
  text-align: center;
  outline: 1px solid #fff;
  font-weight: bold;
  height: 50px;
}

.OrderForm--product-container {
  font-size: 9px;
  text-align: center;
  outline: 1px solid #fff;
  font-weight: bold;
  height: 70px;
}

.OrderForm--orders-table tbody td {
  font-size: 14px;
  line-height: 14px;
  padding: 4px;
}
.OrderForm--orders-table tbody td div.is-small {
  padding-left: 6px;
  font-size: 10px;
}
.OrderForm--amount-container {
  font-size: 2.5rem;
  font-weight: bold;
  border-top: 1px solid #000;
}

.flex-1 {
  flex: 1;
}
.flex-10 {
  flex: 10;
}
.flex-2 {
  flex: 2;
}

.flex-column {
  flex-direction: column;
}

div.react-date-picker__button__input {
  padding: 0.5rem;
}

div.react-date-picker__button {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.AmortizationTable,
.LoanLedger,
.min-table {
  font-size: 0.75rem;
}

table.report-table {
  font-size: 0.75rem;
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.is-current a,
.is-current a:hover {
  background-color: hsl(217, 71%, 53%);
  color: #fff;
}

li.disabled {
  background-color: #dbdbdb;
}

li.disabled a {
  cursor: none;
  border-color: #dbdbdb;
  box-shadow: none;
  color: #7a7a7a;
  opacity: 0.5;
}

nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}

nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}
.navbar-item.brand-text {
  font-weight: 300;
}
.navbar-item,
.navbar-link {
  font-size: 14px;
  font-weight: 700;
}

aside {
  height: 100%;
  margin-top: 0.75rem;
  font-size: 14px !important;
  font-weight: bold;
  padding-left: 1rem;
}
aside.menu {
  background: #ecf0f3;
}

div.flex-end-container {
  display: flex !important ;
  align-items: flex-end !important;
}

.display-none {
  display: none !important;
}

.b-t-2 th {
  border-top: 2px solid #000 !important;
}

.b-t-3 {
  border-top: 3px double #000;
}

.b-b-1 {
  border-bottom: 1px solid #000;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.h-circle {
  background-color: #f00;
}

.is_selected {
  fill: pink;
  stroke: red;
  stroke-width: 2;
  fill-opacity: 0.8;
}

input[type="checkbox"] {
  margin-right: 8px !important;
}

.m-t-1 {
  margin-top: 8px !important;
}

.m-t-16 {
  margin-top: 8px !important;
}

.m-l-1 {
  margin-left: 8px !important;
}
.m-b-1 {
  margin-bottom: 8px !important;
}

.print {
  background-color: #fff !important;
}

.print button {
  display: none;
}

.button {
  padding: 0px 15px;
  font-size: 0.9rem !important;
}

.pointer:hover {
  cursor: pointer !important;
}
.logo {
  text-align: center;
  color: #fff;
  padding: 24px;
  font-size: 18px;
}

.cls-1 {
  opacity: 0.25;
}

.st1,
.cls-3 {
  fill: #000;
  fill-opacity: 0.1 !important;
  stroke: #000;
}

.is-occupied {
  fill: #f00 !important;
  fill-opacity: 0.5 !important;
  stroke: #f00;
}

.is-vacant {
  fill: #0f0 !important;
  fill-opacity: 0.5 !important;
  stroke: #0f0;
}

.content {
  padding: 0px 8px;
  overflow: auto;
  height: 100%;
}

.tab-content {
  padding: 0px 36px;
}

.ant-table-body,
.ant-table-fixed {
  font-size: 11px !important;
}

.is-flex {
  display: flex;
}

.is-flex-center {
  justify-content: center;
  align-items: center;
}

.is-flex-1 {
  flex: 1;
}
.is-flex-2 {
  flex: 2;
}

.is-flex-column {
  flex-flow: column;
}

.or-display {
  color: #fff;
}

.display-wrapper {
  flex: 1;
  margin: 2px;
  padding: 2px;
  background-color: #22301e;
  font-size: 0.6vw;
  font-weight: bolder;
  /* font-size: 11px; */
  overflow: hidden;
}
.display-wrapper-accent {
  flex: 1;
  margin: 2px;
  padding: 8px;
  background-color: #b1a0c7;
  display: flex;
  color: #000;
  font-weight: bold;
  font-size: 0.8vw;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.accent {
  width: 50px !important;
}

.display-wrapper-secondary {
  background-color: #3700b3;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  font-size: 0.8vw;
}
.time-wrapper {
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 8px;
  background-color: #121212;
  margin-bottom: 4px;
  font-size: 1vw;
  background-color: #00363a;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

.display-footer-developer {
  text-align: center;
  font-size: 0.4vw;
  padding: 0.4rem;
  color: rgba(255, 255, 255, 0.6);
}

.display-footer-label {
  text-align: right;
  font-size: 0.6vw;
}

.display-footer-accent {
  font-weight: bold;
  color: yellow;
  padding-left: 1rem;
  font-size: 0.6vw;
}

.or-room-number-display {
  padding: 0vw 0.35vw;
  font-weight: bold;
  color: #fff;
  font-size: 1.75vw;
  color: yellow;
}

.is-emergency {
  color: #ff5c5c;
  font-weight: bold;
}

.is-backlog {
  color: yellow;
}

.is-scrollable .ant-table td {
  white-space: nowrap;
}

.MuiInputBase-input.MuiInput-input {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.MuiFormControl-root.MuiTextField-root {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  padding: 0px 11px;
}

.has-error .MuiFormControl-root.MuiTextField-root {
  border: 1px solid #f5222d;
}

.ant-select.ant-select-auto-complete ul {
  list-style: none !important;
  margin: 0px !important;
}

.content.report {
  background: #fff;
  font-size: 12px;
  color: #000;
}

@media print {
  .content.report {
    padding: 0px;
  }
  .print .room-statistics {
    font-size: 6px;
  }
}

.p-8 {
  padding: 8px;
}

.print-input-signatory {
  border: none;
  color: #000;
  width: 100%;
  font-size: 10px;
  text-align: center;
}

.print-iso-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
}

.underline-paragraph {
  text-decoration: underline;
  overflow-wrap: break-word;
  text-align: left;
}

.or-report {
  font-size: 10px;
  background-color: #fff;
  color: #000;
  font-family: Calibri, Arial;
}

.or-report table {
  width: 100%;
  border-collapse: collapse;
}

.or-report table tbody td {
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.or-report table .or-room {
  background-color: #8cb4e2;
  border: 1px solid #000;
  font-weight: bolder;
  text-align: left;
}

.or-report-heading td {
  background-color: #bfbfbf;
  border: 1px solid #000;
  text-align: center !important;
}

.or-report .signatories-container {
  margin-top: 8px;
}

.or-report .signatory {
  margin-top: 32px;
  text-align: center;
}

.or-slip-form * {
  font-size: 14px !important;
}

.or-slip-form .MuiInputBase-input {
  font-size: 12px !important;
  font-weight: bold;
}

.or-slip-form .ant-input,
.or-slip-form .ant-select-selection {
  padding: 2px !important;
  font-weight: bold;
  font-size: 12px !important;
}

.or-slip-form .ant-select-selection__rendered {
  line-height: 22px !important;
}

.or-slip-form .ant-form-item {
  margin: 0px;
}

.or-slip-form .ant-select {
  width: 100%;
}

@media screen {
  .is-full-height {
    background-color: #fff;
  }
}

.case {
  background-color: #22301e !important;
}

.elective {
  color: #fff !important;
  font-weight: bold;
}

.or-slip-table .ant-table-body td {
  background-color: #22301e !important;
  color: #fff;
}
.or-slip-table .ant-table-thead th {
  background-color: #357ca5 !important;
  color: #fff;
  font-weight: bold;
}

.ant-checkbox-group * {
  font-size: 11px !important;
}

.small-table * {
  font-size: 8px !important;
}

.ant-table-row-selected td {
  font-weight: bold;
  color: #fff !important;
}

li.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-active,
li.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-active:hover,
li.ant-select-dropdown-menu-item:hover {
  background-color: #347ca5;
  color: #fff;
  font-weight: bold;
}

.surgical-memo-heading {
  font-size: 14px;
}

.p-r-1 {
  padding-right: 1rem;
}

.operative-technique-container input {
  border: none;
  border-bottom: 1px solid #000;
  margin: 0px 1rem;
}

.operative-technique-container li {
  line-height: 14px;
}

.optech-heading-margin {
  margin-top: 16px;
  margin-bottom: 16px;
}

.room-statistics {
  font-size: 8px;
  /* white-space: nowrap; */
}

.room-statistics .subtotal {
  background-color: #357ca5;
  color: #fff;
  text-align: right;
  padding: 2px 4px;
  font-weight: bold;
}

.room-statistics .grandtotal {
  background-color: #000;
  color: #fff;
  text-align: right;
  padding: 2px 4px;
  font-weight: bold;
}

@media print {
  html {
    background-color: #fff !important;
  }
  body {
    background-color: #fff !important;
  }
  .is-full-height,
  .or-report {
    background-color: #fff !important;
  }

  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
}

.or-slip-form .ant-form-item-control:not(.has-error) div.ant-form-explain {
  font-weight: bold;
  color: #1890ff;
}
